/*
* @Author: Administrator
* @Date:   2018-01-17 14:34:33
* @Last Modified by:   49371
* @Last Modified time: 2018-01-20 10:12:51
*/
/* 清除浏览器默认样式用*建 */
*{
	margin: 0;
	padding: 0;
}
/* body的颜色设置 */
body{
	background: #f5f5f5;
}
@font-face {
  font-family: 'iconfont';  /* project id 546698 */
  src: url('//at.alicdn.com/t/font_546698_eqv3uow898s38fr.eot');
  src: url('//at.alicdn.com/t/font_546698_eqv3uow898s38fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_546698_eqv3uow898s38fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_546698_eqv3uow898s38fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_546698_eqv3uow898s38fr.svg#iconfont') format('svg');
}
.screen{
	/* 通屏设置宽的100% */
   width: 100%;
   /* 100px=1rem像素与rem的换算单位 */
   height: 13.77rem;
   /* 加载图片连接 不重复 位置 左下 渐变色 */
   background: url(../img/screen.png) no-repeat left bottom,
     -webkit-linear-gradient(top,#3bbcff,#47eaff);
     /* 图片信息全部包含 */
   background-size: contain;  
}

/* 文字水平和垂直居中 按住alt建加鼠标左键复制切片
ctrl加 */
.header{
	width: 100%;
	height: 1.58rem;
	/* background: red; */
	/* 字体大小 */
	font-size: 0.4rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
    /* 接下来写文本属性 */
    /* 文本水平居中 */
    text-align: center;
    /* height: 1.58rem与line-height一样 垂直居中*/
    line-height:1.58rem; 
}
/* 父元素.screen空格.box
选中标尺 从上倒下拉一条线 拉的线与太原两字的重合
有标题用点加父元素 没有标题直接写标题如h2*/
.screen .box{
	width: 2.1rem;
	height: 1.26rem;
	/* rgb来表示颜色 吸取色里有 */
	background: rgb(241, 171, 98);
	/* 根据拉的线设置宽和高 */
	margin-top: 0.16rem;
	margin-left: 0.27rem;
	border-radius: 0.19rem;
	/* 内填充 填充上面 */
	padding-top: 0.12rem;
	/* 自定义盒模型  解决加padding盒子变大的问题 */
	box-sizing: border-box;
}
.screen .box h2{
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
}
.screen .box h3{
	font-size: 0.36rem;
	color: #fff;
	text-align: center;
}
/* 1、html 超文本标记语言
2、css 层叠样式表
3、div+css布局
4、如何将html与css关联起来  link标签
5、如何将css引入页面  用screen标签
6、标签：页面用尖括号括起来的
   单标签 双标签
7、css语法
  选择器｛
      属性：属性值；
  ｝
8、class="box"    .box
     类名选择器
     标签名     h2
     标签选择器
     父元素（空格）子元素
     .screen.box  h3
     后代选择器
9、选择器的作用:选中页面中的元素
10、浮动  定位 字体 背景色 颜色的三种表示 red rgb  #十六进制
    盒子模型（margin  padding) */
.screen .title1{
	width: 100%;
	height: 1.77rem; 
	/* background: red; */
	/* 字体大小 一般为双数*/
	font-size: 1.30rem;
	margin-top: 0.28rem;
	/*  左填充 
	padding-left: 4.96rem; */
	/* 字体颜色 */
	color: #fff;
	text-align: center;
	/* 字体加粗 */
	font-weight: normal;
    /* height: 1.58rem与line-height一样 */
    line-height:1.31rem;
}
.screen .title2{
	width: 100%;
	height: 0.45rem;
	/* background: red; */
	/* 字体大小 */
	font-size: 0.58rem;
	margin-top: 0.48rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
    /* 接下来写文本属性 */
    /* 文本水平居中 */
    text-align: center;
    /* height: 1.58rem与line-height一样 */
    line-height:0.45rem;
}
.screen .wind_direction{
	width: 100%;
	height: 0.36rem;
	/* background: red; */
	/* 字体大小 */
	font-size: 0.36rem;
	margin-top: 0.36rem;
	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
    /* 接下来写文本属性 */
    /* 文本水平居中 */
    text-align: center;
    /* height: 1.58rem与line-height一样 */
    line-height:0.36rem;
}
.screen .title4{
	width: 100%;
	/* height: 0.36rem; */
	/* background: red; */
	/* 字体大小 */
	font-size: 0.42rem;
	/* 用哪个截图第三个虚线从盒子上到天冷了文字上面，
	  根据直线拉线为118rem ，然后相减*/
	 margin-top: 1.12rem; 

	/* 字体颜色 */
	color: #fff;
	/* 字体加粗 */
	font-weight: bold;
    /* 接下来写文本属性 */
    /* 文本水平居中 */
    text-align: center;
    /* height: 1.58rem与line-height一样 */
    /* line-height:0.36rem; */
}
.con1{
	width: 100%;
	 height: 2.94rem;
	/* 字体颜色 */
	background: #fff;
	border-bottom: 0.03rem solid #e4e4e4;
	/* 上填充 */
	padding-top: 0.72rem;
	/* 左填充 */
	padding-left: 0.58rem;
	box-sizing: border-box;
	/* 字体加粗 */
	/* font-weight: bold; */
    /* 接下来写文本属性 */
    /* 文本水平居中 */
    /* text-align: center; */
    /* height: 1.58rem与line-height一样 */
    /* line-height:0.36rem; */
}
.content{
	width: 4.85rem;
	 height: 1.47rem;
	/* 字体颜色 */
	/* background: pink; */
	/*  右边框*/
	border-right: 0.03rem solid #e4e4e4;
	/* 上填充 */
	padding-right: 0.59rem;
	/* 左填充 */
	box-sizing: border-box;
	float: left;
}
/* nth-child(2)值得是两个content的第二个孩子 伪类选择器 */
.con1 .content:nth-child(2){
	padding-right: 0;
	border-right: none;
	padding-left: 0.59rem;
	/* box-sizing: border-box; 可以不用给，因为上面的也是content
	，只要是content都有了*/
}
/* 后代选择器
伪类选择器  ：nth-child(n) 选中第n个孩子
：first-child 选中第一个孩子
：last-child 选中最后一个孩子
：奇数个2n+1  偶数个2n*/
.content .top{
	width: 100%;
	height: 0.59rem;
	/* background: yellowgreen; */
	/* 指定为弹性布局 */
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;
}
.content .top .day{
	font-size: 0.38rem;
	color: #434343;
	line-height: 0.59rem;
}
.content .top .temperature{
   font-size: 0.3rem;
	color: #434343;
	/* 垂直居中 */
	line-height: 0.59rem;
}
.content .bottom{
	width: 100%;
	height: 0.86rem;
	/* background: yellow;  */
	/* 指定为弹性布局 */
	display: flex;
	/* 两端对齐 */
	justify-content: space-between;  
}
.content .bottom .weather{
	font-size: 0.36rem;
	color: #434343;
	/* 垂直居中 */
	line-height: 0.86rem;
}
.content .bottom .pic{
	width: 0.48rem;
	height: 0.48rem;
	/* background: red; */
	margin-top: 0.2rem; 
	/* 加载图片 */
	/* background: url('../img/0.png') no-repeat; */
	/* 禁止重复 */
	background-repeat: no-repeat;
	background-size: 0.48rem 0.48rem;
}
.con2{
	width: 100%;
	height: 3.9rem;
	background: #fff;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
    border-bottom: 0.03rem solid #e4e4e4; 
    /* padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    上 右 下 左 */ 
    padding: 0.9rem 0 0.8rem 0;
    box-sizing: border-box;
    /* 超出部分以滚动条的形式显示 */
    overflow-x: auto;
}
/* 去掉滚动条 */
.con2::-webkit-scrollbar{
	height: 0;
}
.con2 .wrap{
	height: 100%;
	/* 水平排列 */
	display: flex;
    
}
.con2 .wrap .now{
	width: 1.68rem;
	height: 100%;
	/* background: yellow; */
	/* 禁止缩小 */
	flex-shrink: 0;
	display: flex;
	/* 改变主轴方向 */
	flex-direction: column;
	/* 两端对齐 */
	justify-content: space-between;
}
.con2 .wrap .now .now_time{
	font-size: 0.23rem;
	color: #999999;
	text-align: center;
	/* 不加粗 */
	font-weight: normal;
}
.con2 .wrap .now .now_icon{
	width: 1rem;
	height: 1rem;
	/* div居中 */
	margin: 0 auto;
	/*先引入图片再设置图片大小  */
	/* background: url('../img/0.png') no-repeat; */
	background-repeat: no-repeat;
	background-size: 1rem 1rem;
}
.con2 .wrap .now .now_temperature{
	font-size: 0.18rem;
	color: #333333;
	text-align: center;
	font-weight: normal;
}

.con3{
	width: 100%;
	height: 11.22rem;
	background: #fff;
	margin-top: 0.27rem;
	border-top: 0.03rem solid #e4e4e4;
    border-bottom: 0.03rem solid #e4e4e4; 
    /* padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    上 右 下 左 */ 
    padding: 0.71rem 0rem 0.93rem 0rem;
    box-sizing: border-box;
    /* 超出部分以滚动条的形式显示 */
    overflow-x: auto;

}
.con3::-webkit-scrollbar{
	height: 0;
}
.con3 .wrap{
	height: 100%;
	/* 水平排列 */
	display: flex;
}
.con3 .wrap .recent{
	width: 2.52rem;
	height: 100%;
	/* background: yellow; */
	/* 禁止缩小 */
	flex-shrink: 0;
	display: flex;
	/* 改变主轴方向 */
	flex-direction: column;
	/* 两端对齐 */
	justify-content: space-between;
}
.con3 .wrap .recent .recent_time{
	font-size: 0.24rem;
	color: #999999;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_wea{
	font-size: 0.24rem;
	color: #999999;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_pic{
	width: 1rem;
	height: 1rem;
	/* div居中 */
	margin: 0 auto;
	/*先引入图片再设置图片大小  */
	background: url('../img/1.png') no-repeat;
	background-size: 1rem 1rem;
}
.con3 .wrap .recent .recent_high{
    font-size: 0.28rem;
	color: #999999;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_low{
    font-size: 0.28rem;
	color: #999999;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_wind{
    font-size: 0.30rem;
	color: #999999;
	text-align: center;
	font-weight: normal;
}
.con3 .wrap .recent .recent_level{
    font-size: 0.30rem;
	color: #999999;
	text-align: center;
	font-weight: normal;
}
.city_box{
	width: 100%;
	height: 40rem;
	background: #fff; 
	position: absolute;
	top: 0;
	left: 0;
}
.city_box .sousuo_box{
	width: 100%;
	height: 1.26rem;
	background: #fff; 
	border-bottom: 0.04rem solid #e4e4e4;
	padding: 0.18rem 0.49rem 0.18rem 0.35rem;
	box-sizing: border-box;
	display : flex;
	justify-content: space-between;
}
.city_box .sousuo_box .seacher_box{
    width:8.62rem;
    height:0.86rem;
    background: #f2f2f2;
    border-radius: 0.43rem;
}
.city_box .sousuo_box .button{
     font-size: 0.18rem;
     color: #4d4d4d;
     line-height:0.9rem; 
     /* 设置字体 */
     font-family: "微软雅黑";
}
/* 引入自定义的字体 */
.icon{
	font-size: 0.6rem;
	float: left;
	margin-top: 0.15rem;
	margin-left: 0.3rem;
}
.text{
	width: 7.2rem;
	height: 100%;
	background: #f2f2f2;
	border: none;
	float: left;
	/* 搜索图标和字的距离 */
	padding-left: 0.28rem;
	box-sizing: border-box;
}
/* 获取焦点 */
.text:focus{
	outline: none;
}
.city{
    width: 100%;
	height: 14rem;
	/* background: pink;  */
	padding: 0.24rem  0.35rem 0 0.36rem;
	box-sizing: border-box;
	/* 使热门城市按y轴方向排列 */
	overflow-y: auto;
}
.city .title{
    width: 100%;
	height: 1.16rem;
	/* background: yellow; */
	font-size: 0.38rem;
	color: #434343;
	line-height: 1.16rem;
	/* 字间距 */
	letter-spacing: 0.03rem;
}
.city .con{
	width: 100%;
	height: auto;
	/*超出部分隐藏 */
	overflow: hidden;
}
.city .con .son{
	width: 3.17rem;
	height: 0.81rem;
	background: #f2f2f2;
	border-radius: 0.4rem;
	font-size: 0.32rem;
	color: #434343;
	text-align: center;
	line-height: 0.81rem;
	float: left;
	margin: 0 0.28rem 0.21rem 0;
}
.city .con .son:nth-child(3n){
	margin-right: 0;
}
